html, body {

    background:white;
    font-family: 'Roboto', sans-serif;
    font-size:15px;
    color: black;
    height: 100%;
    overflow-x:hidden;
    overflow-y:hidden;
}

.navbar{ 
    background: rgba(0, 0, 0, 0.8);
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size:20px;
}

.navbar-brand{ 
}

.nav-link{ 
    margin-right: 1em;
    color:gray;
    cursor:pointer;
}

.nav-link:hover{  
    color: lightgray; 
}

.activepage{
    color: white;
}
.activepage:hover{
    color: white;
}
.navbar-collapse{ 
    justify-content: flex-end;
}

.navbar-toggler{  
    background:#fff;
}
.bg-dark{
    background-color:#343a40;
}

.container-portfolio{
    padding: 0 0;
    margin: 0 0;
    text-align: center;
}

.col-header{
    text-align: center;
    padding-top:60px;
    padding-bottom:10px;
    color: #D56B2F;
    font-family: 'Alata', sans-serif;
    font-size:45px;


}
.col-header-description{

    padding-top:0px;
    padding-bottom:25px;    
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size:18px;
}

p{
    font-size:12px;
}


.container-preview{
/*  border: 1px solid black;*/
  padding: 5px;
    
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  border: 1px solid black;

}
.img-desc{
  position: absolute;
  top: 200px;

}

.middle {
  transition: .5s ease;
  opacity: 0;
  max-width: 100%;
    padding: 10px;

  transform: translate(-0%, -200%);
  -ms-transform: translate(-0%, -200%);
  text-align: center;
}

.container-preview:hover .image {
  opacity: 0.3;
}

.container-preview:hover .middle {
  opacity: 1;
}

.text{
  background-color: #D56B2F;
  color: white;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 18px;
  padding: 9px 16px;
  text-decoration:none;
}
a:link{
    text-decoration:none;
}
.db-text{
    color: black;
    padding:10px;
    text-align:left;
    font-size:15px;
}
.db-text strong{
    color: #D56B2F;
}
.img-db{
    border: 1px solid black;
}